.contract-wrapper {
    margin-top: 75px;

    .card {

        // form {
        .width-card {

            max-width: 60%;
        }

        .info-user {
            font-weight: 500;
        }

        .container-body {
            max-width: 90%;
            margin-left: 26px;
        }

        // }
    }
}
.contract-wrapper-admin {

    .card {

        // form {
        .width-card {

            max-width: 60%;
        }

        .info-user {
            font-weight: 500;
        }

        .container-body {
            max-width: 90%;
            margin-left: 26px;
        }

        // }
    }
}