.height-img-title {
    height: 60vh;

    .carousel-item img {
        height: 60vh;
        object-fit: cover;
    }
}

.carousel-item {
    .carousel-caption {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(38, 51, 77, 0.7);
        opacity: 0.7;
        z-index: 1;
    }
}

.opacyti-img {
    transition: opacity 0.5s ease;

}

.home-wrapper {

    .card {
        .home-card-desc {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            line-clamp: 3;
            -webkit-box-orient: vertical;

        }

        .ql-editor {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            line-clamp: 3;
            -webkit-box-orient: vertical;
            font-size: medium;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }


}

#height {
    height: auto;
}

.hotel-preview-parent {
    .icon-preview-item-1 {
        visibility: visible;
        animation-delay: 0.1s;
        animation-name: fadeIn;
    }

    .icon-preview-item-2 {
        visibility: visible;
        animation-delay: 0.3s;
        animation-name: fadeIn;
    }

    .icon-preview-item-3 {
        visibility: visible;
        animation-delay: 0.5s;
        animation-name: fadeIn;
    }
}

.hotel-preview-parent {
    img {
        width: 45px;
        height: 45px;
    }

    .img-preview-item-1 {
        margin-top: 25%;
        visibility: visible;
        animation-delay: 0.1s;
        animation-name: zoomIn;
    }

    .img-preview-item-2 {
        visibility: visible;
        animation-delay: 0.3s;
        animation-name: zoomIn;
    }

    .img-preview-item-3 {
        visibility: visible;
        animation-delay: 0.5s;
        animation-name: zoomIn;
    }
}

.filler-content {
    .filler-item {
        visibility: visible;
        animation-delay: 0.1s;
        animation-name: fadeInUp;
    }
}