.react_qill_css .ql-container .ql-editor {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    padding:0;
}

.news-wrapper {
    margin-top: 75px;
}