.room-wrapper {
    max-width: 100%;
    justify-content: center;
    justify-items: center;

    .card {
        // max-width: 640px;

        img {
            width: 100%;
            height: 70vh;
            object-fit: cover;
        }

        .card-body {
            h5 {
                font-size: 25px;
                text-align: center;
            }
        }

        .card-text {
            font-size: 18px;
        }

        .price {
            font-size: 18px;
            font-weight: 600;
        }

        .room-btn {
            text-align: center;
            font-size: 20px;
        }

        .ql-editor {
            font-size: 18px;
            gap: 5px;
        }

        // .row {
        //     .RoomDetail-form-body {
        //         font-size: 18px;
        //         // border: 1px solid #333;
        //         padding: 5px;
        //         border-radius: 5px;
        //         font-weight: 400;

        //         input {
        //             width: 100%;
        //             padding: 5px;
        //             border-radius: 3px;
        //         }

        //         .QR img {
        //             display: block;
        //             width: 40%;
        //             height: auto;
        //         }
        //     }
        // }
        .form {
            img {
                display: block;
                width: 40%;
                height: auto;
            }

            input[type=file] {
                display: block;
                width: 100%;
                padding: 0.375rem 0.75rem;
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.5;
                color: var(--bs-body-color);
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                background-color: var(--bs-body-bg);
                background-clip: padding-box;
                border: var(--bs-border-width) solid var(--bs-border-color);
                border-radius: var(--bs-border-radius);
                transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
            }
        }

        .avatar {
            width: 50px;
            height: 50px;

        }

        .tick {
            color: #0d6efd;
            margin-left: -8px;
        }

        .text-right {
            color: #0d6efd;
            justify-content: right;
            width: 100%;
        }

        .facebook {
            color: #0d6efd;
        }

        .chat {
            color: #0a5fdf;
        }

        .telegram {
            color: #0d6efd;
        }

    }

}
.img-QR{
    width: 20%;
    height: auto;
}