.room-wrapper {
    max-width: 100%;
    justify-content: center;
    justify-items: center;

    .news-wrapper {
        margin-top: 75px;
    }

    .map_info {
        min-height: 350px;
        border: 0;
    }

    .card {
        // max-width: 640px;

        img {
            width: 100%;
            height: 70vh;
            object-fit: cover;
        }

        .card-body {
            h5 {
                font-size: 25px;
                text-align: center;
            }
        }

        .card-text {
            font-size: 18px;
        }

        .price {
            font-size: 18px;
            font-weight: 600;
        }

        .room-btn {
            text-align: center;
            font-size: 20px;
        }

        .ql-editor {
            font-size: 18px;
            gap: 5px;
        }

        // .row {
        //     .RoomDetail-form-body {
        //         font-size: 18px;
        //         // border: 1px solid #333;
        //         padding: 5px;
        //         border-radius: 5px;
        //         font-weight: 400;

        //         input {
        //             width: 100%;
        //             padding: 5px;
        //             border-radius: 3px;
        //         }

        //         .QR img {
        //             display: block;
        //             width: 40%;
        //             height: auto;
        //         }
        //     }
        // }
        .form {
            img {
                display: block;
                width: 40%;
                height: auto;
            }

            // input[type=file] {
            //     display: block;
            //     width: 100%;
            //     padding: 0.375rem 0.75rem;
            //     font-size: 1rem;
            //     font-weight: 400;
            //     line-height: 1.5;
            //     color: var(--bs-body-color);
            //     -webkit-appearance: none;
            //     -moz-appearance: none;
            //     appearance: none;
            //     background-color: var(--bs-body-bg);
            //     background-clip: padding-box;
            //     border: var(--bs-border-width) solid var(--bs-border-color);
            //     border-radius: var(--bs-border-radius);
            //     transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
            // }
        }

        .avatar {
            width: 50px;
            height: 50px;

        }

        .tick {
            color: #0d6efd;
            margin-left: -8px;
        }

        .text-right {
            color: #0d6efd;
            justify-content: right;
            width: 100%;
        }

        .facebook {
            color: #0d6efd;
        }

        .chat {
            color: #0a5fdf;
        }

        .telegram {
            color: #0d6efd;
        }

    }

}

.img-QR {
    width: 20%;
    height: auto;
}

.cmt-content {
    img {
        width: 45px;
        height: 45px;
    }

    .cmt-content-star {
        color: rgb(254, 161, 22);

        .cmt-content-item {
            cursor: pointer;
            width: 31.5px;
        }
    }

    input {
        width: 30px;
    }
}

.star.active {
    border-right-color: gold;
}

.star.clicked {
    color: gold;
}

.cmt-reviews {
    padding: 0;
}

.img-kind {
    max-height: 100px;
}

.filer-same {
    .filer-same-content {
        flex-wrap: nowrap;

        .filer-same-item {
            img {
                height: 200px;
                width: 200px;
            }

            small {
                width: 80px;
                height: auto;
            }

            .react-fix {
                overflow: hidden;
                height: 12vh;
                position: relative;
            }
        }

    }

}

.__cl-c-vote___ label {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.__cl-c-vote___ {
    display: inline-block;
    font-size: 0;
}

.__cl-c-vote___:after {
    content: "";
    display: table;
    width: 100%;
    clear: both;
}

.__cl-c-vote___ input {
    position: absolute;
    left: -9999px;
    width: 0;
    height: 0;
    opacity: 0;
    transform: scale(0);
}

.__cl-c-vote___ label {
    float: right;
    width: 25px;
    height: 25px;
    margin-right: 3px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='58' width='58' fill-rule='evenodd'%3E%3Cpath d='M30.757 1.145L38.2 16.948a1.97 1.97 0 0 0 1.475 1.123l16.645 2.534a2.08 2.08 0 0 1 1.086 3.501L45.362 36.41c-.465.482-.674 1.156-.563 1.817l2.843 17.37a1.98 1.98 0 0 1-2.843 2.164l-14.887-8.2a1.88 1.88 0 0 0-1.823 0L13.2 57.76a1.98 1.98 0 0 1-2.843-2.164l2.843-17.37c.11-.66-.098-1.335-.563-1.817L.594 24.107a2.08 2.08 0 0 1 1.086-3.501l16.645-2.534a1.97 1.97 0 0 0 1.475-1.123l7.444-15.804a1.92 1.92 0 0 1 3.514 0z' fill='%23999'/%3E%3Cpath d='M17.148 38.872c.315-1.917-.3-3.87-1.654-5.263L6.07 23.983l12.856-1.957c1.965-.305 3.648-1.568 4.5-3.37L29 6.802l5.58 11.85a5.97 5.97 0 0 0 4.492 3.373l12.856 1.957-9.426 9.627c-1.355 1.393-1.968 3.346-1.652 5.264l2.185 13.348-11.194-6.167a5.88 5.88 0 0 0-5.683-.001l-11.195 6.167 2.185-13.35z' fill='%23fff'/%3E%3C/svg%3E");
    cursor: pointer;
}

.__cl-c-vote___ input:checked~label,
.__cl-c-vote___ input:focus~label,
.__cl-c-vote___ label:hover,
.__cl-c-vote___ label:hover~label {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='58' width='58' fill-rule='evenodd'%3E%3Cpath d='M30.757 1.145L38.2 16.948a1.97 1.97 0 0 0 1.475 1.123l16.645 2.534a2.08 2.08 0 0 1 1.086 3.501L45.362 36.41c-.465.482-.674 1.156-.563 1.817l2.843 17.37a1.98 1.98 0 0 1-2.843 2.164l-14.887-8.2a1.88 1.88 0 0 0-1.823 0L13.2 57.76a1.98 1.98 0 0 1-2.843-2.164l2.843-17.37c.11-.66-.098-1.335-.563-1.817L.594 24.107a2.08 2.08 0 0 1 1.086-3.501l16.645-2.534a1.97 1.97 0 0 0 1.475-1.123l7.444-15.804a1.92 1.92 0 0 1 3.514 0z' fill='%23FFFF01'/%3E%3Cpath d='M17.148 38.872c.315-1.917-.3-3.87-1.654-5.263L6.07 23.983l12.856-1.957c1.965-.305 3.648-1.568 4.5-3.37L29 6.802l5.58 11.85a5.97 5.97 0 0 0 4.492 3.373l12.856 1.957-9.426 9.627c-1.355 1.393-1.968 3.346-1.652 5.264l2.185 13.348-11.194-6.167a5.88 5.88 0 0 0-5.683-.001l-11.195 6.167 2.185-13.35z' fill='%23FFFF01'/%3E%3C/svg%3E");
}